<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
</head>
<body>
    <div>
        <p>
            <ul>
                <li>Mobile: 9080181819</li>
                <li>verjin2001@gmail.com</li>
                <li>https://www.linkedin.com/in/verjin-vargheese/</li>
                <li>2/26 B Iluppakkal valai , kulappuram
                    kannyakumari, Tamil Nadu 629153</li>
            </ul>
        </p>
    </div>
    <div>
        <h2>About Me</h2>
        <p>Looking to establish a career in the field of Information Technology, <br>
        I wish to work in agrowth oriented company and contribute to the development<br>
         of the organization whileupgrading my skill set and knowledge.</p>
    </div>
    <div>
        <ul>
            <li>English</li>
            <li>Malayalam</li>
            <li>Tamil</li>
        </ul>
    </div>
</body>
</html>