<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="..\static\css\home.css" />
        <title>Personal Expense Tracker</title>
    </head>

    <body>
        <!-- Header -->
        <section id="header">
            <div class="header container">
                <div class="nav-bar">
                    <div class="brand">
                        <a href="#hero">
                            <h1>Personal <span>Expense </span> Tracker</h1>
                        </a>
                    </div>
                    <div class="nav-list">
                        <div class="hamburger">
                            <div class="bar"></div>
                        </div>
                        <ul>

                            <li>
                                <a href="/signin" data-after="Login">-Login-</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Header -->

        <!-- Hero Section  -->
        <section id="hero">
            <div class="hero container">
                <div>
                    <h1>Welcome To Personal<span></span></h1>
                    <h1> Expense Tracker <span></span></h1>
                    <a href="/signup" type="button" class="cta">Sign-up</a>
                </div>
            </div>
        </section>
        <!-- End Hero Section  -->

        <script src="..\static\js\home.js"></script>
    </body>
</html>
